*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}
.chessboard {
    width: 325px;
    height: 325px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    outline: 10px solid black;
}

.square{
    width: 40px;
    height: 40px;
    /* border: 2px solid; */
}
.row{
    font-size: 2rem;
    text-align: center;
}

.square:nth-child(odd){
background-color: wheat;
}

.square:nth-child(even){
  background-color:lightcoral;
}

.row:nth-child(even) .square:nth-child(odd),
.row:nth-child(odd) .square:nth-child(even) {
  background-color: lightcoral;
}

.row:nth-child(odd) .square:nth-child(odd),
.row:nth-child(even) .square:nth-child(even) {
  background-color: wheat;
}
